ROBIN_DATABASE_URL=postgresql+psycopg://robin:robin_local_only@localhost:5432/robin
POSTGRES_DB=robin
POSTGRES_USER=robin
POSTGRES_PASSWORD=robin_local_only
POSTGRES_PORT=5432
ROBIN_MODE=SIMULATION
ROBIN_REAL_BETS_ENABLED=false

